#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{% if ntp_clear_servers is defined and ntp_clear_servers != None and ntp_clear_servers|length > 0 %}
    {% for srv in ntp_clear_servers %}
delete system ntp server {{ srv }}
    {% endfor %}
{% endif %}
{% for ntp in ntp_servers %}
set system ntp server {{ ntp.ipv4 }}
{% endfor %}
set system time-zone {{ ntp_tz.name }}