---
# tasks file for backup
- name: Configuration Backup
  tags:
    - backup
  block:
    # Skip this if another task already set the config_output hostvar
    - name: Run show configuration command
      ansible.netcommon.cli_command:
        command: "copy running-configuration display"
      register: config_result
      failed_when: config_result.stdout|length == 0
      when: "config_output is not defined or config_output|length == 0"

    # This will allow other tasks to reuse the config_output hostvar without sending another command to the device
    - name: Save the configuration output to a variable
      ansible.builtin.set_fact:
        config_output: "{{ config_result.stdout }}"
      when: config_result.stdout is defined and config_result.stdout | length > 0

    - name: Copy results to file
      ansible.builtin.copy:
        backup: true
        mode: "0640"
        content: "{{ config_output }}"
        dest: "backups/{{ inventory_hostname }}.backup"

    # ansible.builtin.valut requires Ansible Core 2.12
    # - name: Ansible-Vault encrypt .backup to .enc_backup
    #   ansible.builtin.copy:
    #     content: "{{ lookup('ansible.builtin.file', 'backups/' + inventory_hostname + '.backup') | ansible.builtin.vault(backup_vault_secret) }}"
    #     dest: "backups/{{ inventory_hostname }}.enc_backup"
    #     mode: "0640"
    #     decrypt: false

    # - name: Remove unencrypted .backup file
    #   ansible.builtin.file:
    #     path: "backups/{{ inventory_hostname }}.backup"
    #     state: absent
    - name: Vault encrypt .backup
      expect:
        command: "ansible-vault encrypt --ask-vault-pass {{ 'backups/' + inventory_hostname + '.backup' }}"
        responses:
          New Vault password: "{{ backup_vault_secret }}"
          Confirm New Vault password: "{{ backup_vault_secret }}"
