---
# handlers file for assemble_apply
- name: Handler to install the config on the device
  tags:
    - netconf
    - netconf_acl
    - aaa
    - aaa_acl
    - tacplus_acl
    - ntp
    - ntp_acl
    - syslog
    - syslog_acl
    - limitlocal
  block:
    - name: Install the config on the device
      ansible.builtin.command: cat {{ config_all|quote }}
      register: command_output
      notify: Print the commands

    - name: Print the commands
      ansible.builtin.debug:
        msg: "{{ command_output.stdout }}"
      changed_when: true
      notify: Push the Full configuration

    - name: Push the Full configuration
      junipernetworks.junos.junos_config:
        src: "{{ config_all }}"
        confirm: 2
      register: config_output
    #  notify: Show Debug cli_output variable
      when: "ansible_run_tags | select('match','.*dry_run') | list | length == 0"
      notify: Reconnect and Confirm the Commit
      vars:
        ansible_command_timeout: 60

    #- name: Check for failures in the config result
    #  ansible.builtin.fail:
    #    msg: "The command ({{ item.item }}) did not have an empty response"
    #  when: config_output.failed 
    #  loop: '{{ command_output.results }}'
    - name: Reconnect and Confirm the Commit
      junipernetworks.junos.junos_config:
        confirm_commit: true
      when: "ansible_run_tags | select('match','.*dry_run') | list | length == 0"
      vars:
        ansible_command_timeout: 60
