#jinja2: trim_blocks: "true", lstrip_blocks: "true"
    {# common prefix-list's for the management networks would look like this #}
    {# set policy-options prefix-list mgmt-nets 10.1.1.0/24 #}
    {# set policy-options prefix-list mgmt-nets 10.1.3.0/24 #}
{% for prefix in prefix_lists.mgmt_nets.prefixes %}
set policy-options prefix-list {{ prefix_lists.mgmt_nets.name }} {{ prefix }}
{% endfor %}