---
# handlers file for assemble_apply
- name: Handler to install the config on the device
  tags:
    - aaa
    - ntp
    - pw_reset
    - syslog
  block: 
    - name: Install the config on the device
      tags:
        - pw_dry_run
      ansible.builtin.command: cat {{ config_all|quote }}
      register: commands
      notify: Print the commands

    - name: Print the commands
      tags:
        - pw_dry_run
      ansible.builtin.debug:
        msg: "{{ commands.stdout }}"
      changed_when: true
      notify: Push the Full Configuration

    # These commands will always result in changed:false, so have to force it and let the next
    # play evaluate responses and force a fail to stop the "Save Device Configuration" from happening
    - name: Send the commands to the device
      listen: Push the Full Configuration
      ansible.netcommon.cli_command:
        command: "{{ item }}"
      loop: "{{ commands.stdout_lines }}"
      #loop_control:
        #extended: true
      #  break_when: cli_output.msg is defined and cli_output.msg|length > 0 and cli_output.msg is regex(pattern='^%', multiline=true)
      register: cli_output
      changed_when: cli_output.msg | default('') | length == 0 
      failed_when: # if each condition below is true 
        - cli_output.msg | default('') | length > 0 
        - cli_output.msg is regex(pattern='^%', multiline=true) or cli_output.msg is regex(pattern='^command timeout', multiline=true)
      #changed_when: ansible_loop.last and (cli_output.stdout|length == 0 or cli_output.stdout is not regex(pattern='^%', multiline=true))
      when: # if each condition below is true
        - ansible_run_tags | select('match','.*dry_run') | list | length == 0 
        - not cli_output.skipped | default(false)
        - not cli_output.failed | default(false)
    #  notify: Show Debug cli_output variable
      #notify: Save Device Configuration

    #
    # In most cases, it's better to save the config in a separate playbook run to allow this run to be verified with the save run
    #  uncomment the above `notify: Save Device Configuration` if this is enabled
    #
    #- name: Save Device Configuration
    #  ansible.netcommon.cli_command:
    #    command: "copy running-configuration startup-configuration"
    #  register: save_output
    #  #failed_when: "'Copy succeeded' not in save_output.stdout"
    #  failed_when: save_output.stdout|length > 0
    #  changed_when: save_output.stdout|length == 0

    #- name: Show Debug cli_output variable
    #  ansible.builtin.debug:
    #    msg: '{{ cli_output }}'
    #  when: "'debug' in ansible_run_tags"
    #  notify: Check for failures in the Command's Output
