/system clock set time-zone-name={{ ntp_tz.long_name }}
/system ntp client servers remove [find where address!=""]
{% for ntp in ntp_servers %}
/system ntp client servers add address={{ ntp.ipv4 }} comment="{{ ntp.desc }}"
{% endfor %}