/radius remove [find where service=login]
/radius add address={{ aaa.ipv4 }} authentication-port={{ radius_auth_port }} accounting-port={{ radius_acct_port }} comment="{{ aaa.desc }}" service=login src-address={{ aaa_source_ip }} secret="{{ radius_secret }}"
/user aaa set use-radius=yes