#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{% for class in aaa_user_classes %}
set system login class {{ class.name }}
   {% for perm in class.perms %}
set system login class {{ class.name }} permissions {{ perm }}
   {% endfor %}
{% endfor %}
{% for user in aaa_user_templates %}
set system login user {{ user.name }} full-name "{{ user.desc }}" uid {{ user.uid }} class {{ user.class }}
{% endfor %}
{% if radius_clear_servers is defined and radius_clear_servers != None %}
    {% for srv in radius_clear_servers %}
delete system radius-server {{ srv }}
    {% endfor %}
{% endif %}
{% if tacplus_clear_servers != None %}
    {% for srv in tacplus_clear_servers %}
delete system tacplus-server {{ srv }}
    {% endfor %}
{% endif %}
{% for aaa_serv in aaa_servers %}
set system {{ aaa_type  }}-server {{ aaa_serv.ipv4 }}
set system {{ aaa_type }}-server {{ aaa_serv.ipv4 }} timeout {{ aaa_timeout }}
set system {{ aaa_type }}-server {{ aaa_serv.ipv4 }} secret "{{ aaa_secret }}"
set system {{ aaa_type }}-server {{ aaa_serv.ipv4 }} {% if src_ipv4 is defined %}source-address {{ src_ipv4 }}{% endif +%}
    {% if aaa_type == 'radius' %}
set system radius-server {{ aaa_serv.ipv4 }} port {{ radius_auth_port }}
set system radius-server {{ aaa_serv.ipv4 }} accounting-port {{ radius_acct_port }}
    {% elif aaa_type == 'tacplus' %}
set system tacplus-server {{ aaa_serv.ipv4 }} port {{ tacplus_port }}
    {% endif %}
{% endfor %}
{% if auth_order_clear %}
delete system authentication-order
{% endif %}
{% if aaa_type == 'radius' %}
set system authentication-order radius
{% elif aaa_type == 'tacplus' %}
set system authentication-order tacplus
{% endif %}
{# add password to authentication-order if you want the device to allow the local accounts even when TACACS+ is responding #}
{# set system authentication-order password #}
delete system authentication-order password
